*[data-skrolr-running] {
	padding: 0;
	margin: 0;
	font-size: 0;
	position: relative;
	left: 0;
	white-space: nowrap;
}
*[data-skrolr-running] li {
	font-size: initial;
	height: 100%;
	vertical-align: top;
	/* automatically center everything in scroller */
	display: inline-flex;
	justify-content: center;
	align-items: center;
}